[user]
	email = francois.teychene@tabmo.io
	name = fteychene
[merge]
	keepBackup = false;
	tool = p4merge
[mergetool]
	prompt = false
[mergetool "p4merge"]
	cmd = p4merge "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false
[diff]
	tool = p4merge
[difftool]
	prompt = false
[difftool "p4merge"]
	cmd = p4merge "$LOCAL" "$REMOTE"
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false
