[user]
	email = francois.teychene@gmail.com
	name = fteychene
[includeIf "gitdir:~/saagie/**"]
    path = ~/saagie/.gitconfig
[includeIf "gitdir:~/go/src/gitlab.saagie.tech/**"]
    path = ~/saagie/.gitconfig
[merge]
	keepBackup = false;
	tool = p4merge
[mergetool]
	prompt = false
[mergetool "p4merge"]
	cmd = p4merge "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false
[diff]
	tool = p4merge
[difftool]
	prompt = false
[difftool "p4merge"]
	cmd = p4merge "$LOCAL" "$REMOTE"
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false
[pull]
	rebase = true
[alias]
	please = push --force-with-lease
	commend = commit --amend --no-edit
	it = !git init && git commit -m “root” --allow-empty
	shorty = status --short --branch
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
	stsh = stash --keep-index
	staash = stash --include-untracked
	staaash = stash --all
	exclude = !sh -c 'echo "$1" >> .git/info/exclude' -
