[user]
	email = francois.teychene@gmail.com
	name = fteychene
	signinkey = 0BE6158C468DBAAA
	signingkey = 0BE6158C468DBAAA
[pull]
	rebase = true
[alias]
	please = push --force-with-lease
	commend = commit --amend --no-edit
	it = !git init && git commit -m “root” --allow-empty
	shorty = status --short --branch
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
	stsh = stash --keep-index
	staash = stash --include-untracked
	staaash = stash --all
	exclude = !sh -c 'echo "$1" >> .git/info/exclude' -
	reset-to = "!f() { \
		      git fetch $1 $2; \
		      git reset --hard $1/$2; \
		}; f"
	files-from = "!f() { git diff-tree --no-commit-id --name-only -r $1; }; f"
[commit]
	gpgsign = true
